$myColor: red;
$mytextsize: 38px;
$mytextfont: verdana;

@mixin hand {
  width: 50%;
  background: rgb(241, 237, 237);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.9);
}

body {
  color: rgb(54, 34, 29);
  background-color: $myColor;
  background-size: cover;
  text-align: center;
  font-family: $mytextfont;
  font-size: $mytextsize;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid rgb(245, 81, 40);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.9);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

#min {
  @include hand;
  height: 10px;
}

#sec {
  @include hand;
  height: 5px;
}

#hr {
  @include hand;
  height: 15px;
}

.weatherwidget-io {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.9);
}
